@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");
body{
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-family: 'inherit';
}

.header{
    text-align: center;
    margin: auto;
    top: 0;
}

.footer {
    text-align: center;
    
}
.intro{
    text-align: center;
    margin-top: 250px;
    margin-bottom: -45px;
}

.info{
    width: 30%;
    text-align: center;
    background-color: #1f1f1f;
    --border: .5px solid slategrey;
    border-radius: 10px;
    line-height: 1.3em;
    font-weight: 300;
    color: white;
    font-size: 1em;
    font-family: inherit;
    padding: 0.6em;
    margin: auto;
    margin-top: 100px;
}

.resume::before{
    content: "\a";
    white-space: pre-wrap;

}

.info span:resume{
    position: absolute;
    right: 10px;
}

a{
    color: white;
    overflow: hidden;
    margin-top: 100px;
    margin-inline-start: 900px;
    margin-inline-end: -890px;
}