@import url("font-awesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");

body {
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.root {
    /* Add necessary styles for the "root" class */
}

.header {
    text-align: center;
    margin: auto;
    top: 0;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a {
    margin: 0 10px;
}

.intro {
    text-align: center;
    margin-top: 250px;
    margin-bottom: -50px;
}

.info {
    width: 30%;
    text-align: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    line-height: 1.3em;
    font-weight: 300;
    color: white;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.6em;
    margin: 100px auto 50px;
    margin-top: 100px;
}

.resume::before {
    content: "\a";
    white-space: pre-wrap;
}

.info span.resume {
    position: absolute;
    right: 10px;
}

a {
    color: white;
    /* Adjust margin values as necessary */
    margin: 100px auto;
}
